main {
  .text {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 95px;
    padding-top: 100px;
    line-height: 100px;
  }
  .text1 {
    text-align: center;
    font-size: 95px;
    line-height: 100px;
    padding-top: 15px;
    background: linear-gradient(
      90deg,
      rgba(254, 103, 131, 1),
      rgba(255, 191, 132, 1)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .btns_w {
    width: 550px;
    margin: 0 auto;
    margin-top: 70px;
    h3 {
      text-align: center;
      font-size: 30px;
      color: rgba(255, 255, 255, 1);
      font-weight: 500;
    }
    .buttons {
      padding-top: 30px;
      display: flex;
      justify-content: space-between;
    }
    .dot_w {
      color: rgba(255, 255, 255, 1);
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
      img {
        margin-right: 10px;
      }
      p {
        font-size: 20px;
        span:nth-child(1) {
          font-weight: bold;
        }
        span:nth-child(2) {
          color: rgb(75, 71, 71);
        }
      }
    }
  }
  .marico {
    width: 100%;
    h2 {
      text-align: center;
      color: rgba(255, 255, 255, 1);
      font-size: 50px;
      padding-top: 130px;
    }
    .marico_wrapper {
      padding-top: 30px;
      width: 85%;
      display: flex;
      margin: 0 auto;
      justify-content: space-between;
      .card_marico {
        width: 33%;
        h3 {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 25px;
          color: rgba(255, 255, 255, 1);
          svg {
            margin-right: 10px;
          }
        }
        p {
          text-align: center;
          padding-top: 15px;
          color: rgb(75, 71, 71);
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 1090px) {
  main {
    .text,
    .text1 {
      font-size: 70px;
      line-height: 80px;
    }
    .marico {
      h2 {
        font-size: 40px;
      }
      .marico_wrapper {
        width: 90%;
        .card_marico {
          h3 {
            font-size: 20px;
          }
          p {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  main {
    .text,
    .text1 {
      font-size: 55px;
      line-height: 60px;
    }
    .marico {
      .marico_wrapper {
        flex-wrap: wrap;
        .card_marico {
          width: 48%;
        }
        .card_marico:nth-child(3) {
          margin: 0 auto;
          margin-top: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 630px) {
  main {
    .text {
      padding-top: 60px;
    }
    .text,
    .text1 {
      font-size: 45px;
      line-height: 50px;
    }
    .btns_w {
      width: 90%;
      h3 {
        font-size: 27px;
      }
      .dot_w {
        p {
          font-size: 16px;
        }
      }
    }
    .marico {
      h2 {
        font-size: 35px;
      }
      .marico_wrapper {
        width: 90%;
        flex-wrap: wrap;
        .card_marico {
          width: 100%;
          margin-bottom: 40px;
          h3 {
            font-size: 20px;
          }
          p {
            font-size: 15px;
          }
        }
        .card_marico:nth-child(3) {
          margin: 0 auto;
          margin-top: 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  main {
    .text {
      padding-top: 45px;
    }
    .text,
    .text1 {
      font-size: 32px;
      line-height: 50px;
    }
    .text1 {
      padding-top: 8px;
    }
    .btns_w {
      width: 90%;
      h3 {
        font-size: 20px;
      }
      .dot_w {
        p {
          font-size: 14px;
        }
      }
    }

    .marico {
      h2 {
        font-size: 30px;
      }

      .marico_wrapper {
        flex-wrap: wrap;
        .card_marico:nth-child(3) {
          margin: 0 auto;
          margin-top: 0px;
        }
      }
    }
  }
}
@media screen and (max-width: 370px) {
  main {
    .btns_w {
      width: 90%;
      h3 {
        font-size: 20px;
      }
      .buttons {
        flex-wrap: wrap;
        button {
          width: 100% !important;
          margin-bottom: 20px;
        }
      }
      .dot_w {
        p {
          font-size: 14px;
        }
      }
    }
  }
}
